<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hkm.product.mapper.ProductSkuMapper">

    <select id="getById" resultType="ProductSKU" parameterType="long" >
        SELECT * FROM product_sku WHERE id=#{id}
    </select>

    <select id="getStockById" resultType="float" parameterType="long">
        SELECT stock FROM product_sku WHERE id=#{id}
    </select>


    <update id="updateStock" parameterType="map">
        update product_sku set stock=#{param.now}-#{param.reduce} where id=#{param.id} and stock=#{param.now}
    </update>

    <update id="revertStock" parameterType="ProductSKU">
        update product_sku set stock=#{stock} where id=#{id}
    </update>

</mapper>